<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <span class="navbar-brand mb-0 ms-3 h1">2N OS Automated tests</span>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {# make sure that these test suites correspond to the endpoinds defined in app.py #}
                {% set test_suites = ['api', 'regression', 'smoke', 'custom', 'gandalf'] %}
                {% for suite in test_suites %}
                    <li class="nav-item">
                        <a class="nav-link{% if test_suite == suite %} active{% endif %}" href="/{{ suite }}">
                            {{ suite | capitalize }} Tests
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>